<div class="table-responsive text-nowrap p-4">
  <h3>Sales commitments</h3>
    <table class="table" id="example">
        <thead>
            <tr>
              <th>Date</th>
                <th>Commitment id</th>
                <th>Item</th>
                <th>Weight</th>
                <th>Expected Ep</th>
                <th>Price</th>
                <th>Remaining</th>
                <th>Expected Ep</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody class="table-border-bottom-0" id="table-body">
          <!-- Data will be populated here -->
      </tbody>
</table>

</div>
