<div>
  <div class="card">
    <div class="modal fade hidden" id="modalCenter">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalCenterTitle">Add New Party</h5>

          </div>
          <div class="modal-body">
            <form >
              <div class="row">
                <div class="col mb-3">
                  <label for="name" class="form-label">Party Name</label>
                  <input required type="text" name="name" id="name" class="form-control" placeholder="Enter Name">
                </div>
                <div class="col mb-3">
                  <label for="image" class="form-label">Address</label>
                  <input type="text" id="address" name="address" class="form-control" placeholder="Enter Address">
                </div>
              </div>

              <div class="row">
                <div class="col mb-3">
                  <label for="description" class="form-label">Phone</label>
                  <input type="text" id="phone" name="phone" class="form-control" placeholder="Enter Phone">
                </div>
                <div class="col mb-3">
                  <label for="highlighted" class="form-label">GSIN</label>
                  <input type="text" id="gst" name="gst" class="form-control" placeholder="Enter GSTIN">

                </div>
              </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" id="closeaddpartybtn" data-bs-dismiss="modal">
              Close
            </button>
            <button  id="submitbutton" class="btn btn-primary" onclick="addParty()">Add Seller</button>
          </div>
          </form>
        </div>
      </div>
    </div>
    <div class="card-body">
      <a class="btn btn-primary text-white" href="#" onclick="openAddModal()" data-bs-toggle="modal"
        data-bs-target="#modalCenter">Add Party</a>

      <div class="table-responsive text-nowrap p-4">
        <table class="table" id="sellers">
          <thead>
            <tr>
              <th>Name</th>
              <th>Recievable</th>
              <th>Payable</th>
              <th>Diffrence</th>
              <th>Store-In</th>
              <th>Store-Out</th>
              <th>Actions</th>

            </tr>
          </thead>
          <tbody class="table-border-bottom-0" id="table-body">
            <!-- Data will be populated here -->
          </tbody>
        </table>

      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <script>
var dataTable
    $(document).ready(function () {

       dataTable = $('#sellers').DataTable({
        processing: true,
        serverSide: true,
        ajax: {
          url: 'http://localhost:3000/getclients',
          dataSrc: 'docs', // Key that holds the array of data in the API response
          data: function (d) {

            // Add any additional parameters you want to send to the server here
          },
        },
        columns: [
          {
            data: null,
            render: function (data, type, row) {
              return `<a class="" href="/purchaseaccount/${row.name}">${row.name}</a>`;
            },
          },
      
        { 
            data: null,
            render: function (data, type, row) {
                return (row.recievable || 0) + (row.paid || 0);
            }
        }, 
        { 
            data: null,
            render: function (data, type, row) {
                return (row.payable || 0) + (row.recieved || 0);
            }
        },

        { 
            data: null,
            render: function (data, type, row) {
                return (row.recievable || 0) + (row.paid || 0)-(row.payable || 0) - (row.recieved || 0)
            }
        },
        { 
            data: null,
            render: function (data, type, row) {
              return row.storein ? row.storein : 0;
            }
        },
        { 
            data: null,
            render: function (data, type, row) {
              return row.storeout ? row.storeout : 0;
            }
        },
          
          { data: function (row) { return row.coffee.length; } } // Assuming coffee is an array property
        ],
      });

    });
  </script>
  <script>
    const closeModalButton = document.getElementById('closeModalBtn');

    function openAddModal() {
      // Clear the modal fields
      document.getElementById('name').value = '';
      document.getElementById('address').value = '';
      document.getElementById('gst').value = '';

      // Set the onclick function and text for the modal button
      //   document.getElementById('submitbutton').onclick = addseller;
      document.getElementById('submitbutton').innerText = 'Add Place';
      document.getElementById('modalCenterTitle').innerText = 'Add New Place';
    }
    function addParty() {
    // Get form data
    const name = document.getElementById('name').value;
    const address = document.getElementById('address').value;
    const phone = document.getElementById('phone').value;
    const gst = document.getElementById('gst').value;
    var closeButton = document.getElementById('closeaddpartybtn');

    // Prepare data to be sent
    const data = {
        name: name,
        address: address,
        phone: phone,
        gst: gst
    };

 
      axios.post('http://localhost:3000/addseller', data)
  .then(response => {
    // Handle the server response here
    dataTable.ajax.reload();
    closeButton.click();
    
    // Close the modal on successful response
    
  })
  .catch(error => {
    // Handle errors here
    console.log('Error:', error);
  });
}
  </script>
</div>