<%- include('./include/dashboardhead.ejs') -%>

    <div class="content-wrapper">
    
        <!-- Content -->
<div> </div>
        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="row">

            <div class="col-4 mb-4">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex justify-content-between flex-sm-row flex-column gap-1">
                      <div class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                        <div class="card-title">
                            <span class="badge bg-label-warning rounded-pill">Arrived 2021</span> <br>
                            <span class="badge bg-label-info rounded-pill">Storage : 2300 kg </span><br>
                            <span class="badge bg-label-danger rounded-pill">committed : 1000 kg </span><br>
                            <span class="badge bg-label-success rounded-pill">Value : 100000S </span>

                          
                        </div>
                     
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4 mb-4">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex justify-content-between flex-sm-row flex-column gap-2">
                      <div class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                        <div class="card-title">
                          <span class="badge bg-label-warning rounded-pill">Dispatched 2021</span> <br>
                          <span class="badge bg-label-info rounded-pill">Storage : 2300 kg </span><br>
                          <span class="badge bg-label-danger rounded-pill">committed : 1000 kg </span><br>
                          <span class="badge bg-label-success rounded-pill">Value : 100000S </span>
                        </div>
                     
                      </div>
                    </div>
                  </div>
                </div>
              </div>  
              <div class="col-4 mb-4">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex justify-content-between flex-sm-row flex-column gap-3">
                      <div class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                        <div class="card-title">
                       
                          <span class="badge bg-label-warning rounded-pill">Paid 2021</span> <br>
                          <span class="badge bg-label-info rounded-pill">Remaining : 2300 kg </span><br>
                          <span class="badge bg-label-danger rounded-pill">Recieved : 1000 kg </span><br>
                          <span class="badge bg-label-success rounded-pill">Remaining : 100000S </span>
                        </div>
                       
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-between"> 
              <div class="col-6" id="heading"><h3>Sellers Accounts</h3> </div>
              <div class="col-3">  <button id="tooglebutton" class="btn btn-secondary text-white"  onclick="showBuyers()">Buyers Accounts</button>

</div>
             
            </div>
            

            <!-- Basic Bootstrap Table -->
            <div id="sellerscontainer">
              <%- include("./components/sellers") -%>
              <!-- Content will be loaded here based on userType -->
            </div>
            <div id="buyerscontainer" class="d-none">
              <%- include("./components/buyers") -%>
              <!-- Content will be loaded here based on userType -->
            </div>
<!--/ Basic Bootstrap Table -->

</div>
<!-- / Content -->

<!-- Footer -->

<!-- / Footer -->

<div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>

    var button = document.getElementById('tooglebutton');
    var heading = document.getElementById('heading');
    const sellerscontainer = $('#sellerscontainer');
    const buyerscontainer = $('#buyerscontainer');

    function showBuyers() {
      button.innerHTML = 'Show Sellers';
      button.onclick = showSellers;
      heading.innerHTML = '<h3>Buyers Accounts</h3>';
      sellerscontainer.addClass('d-none')
      buyerscontainer.removeClass('d-none')

    }

    function showSellers() {
      button.innerHTML = 'Show Buyers';
      button.onclick = showBuyers;
      heading.innerHTML = '<h3>Sellers Accounts</h3>';
      sellerscontainer.removeClass('d-none')
      buyerscontainer.addClass('d-none')

    }

    // Log a message when the document is ready
    console.log('Document is ready');

</script>
    <%- include('./include/end.ejs') -%>