<%- include('./include/dashboardhead.ejs') -%>

    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">

          <div class="row">

            <div class="col-4 mb-4">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex justify-content-between flex-sm-row flex-column gap-1">
                      <div class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                        <div class="card-title">
                            <span class="badge bg-label-warning rounded-pill">Arrived 2021</span> <br>
                            <span class="badge bg-label-info rounded-pill">Storage : 2300 kg </span><br>
                            <span class="badge bg-label-danger rounded-pill">Billed : 1000 kg </span><br>
                            <span class="badge bg-label-success rounded-pill"> Commitment: 100000S </span>

                          
                        </div>
                     
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4 mb-4">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex justify-content-between flex-sm-row flex-column gap-3">
                      <div class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                        <div class="card-title">
                       
                          <span class="badge bg-label-warning rounded-pill">Dispatched 2021</span> <br>
                          <span class="badge bg-label-info rounded-pill">Storage : 2300 kg </span><br>
                          <span class="badge bg-label-danger rounded-pill">Billed : 1000 kg </span><br>
                          <span class="badge bg-label-success rounded-pill">Commitment : 100000S </span>
                        </div>
                       
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4 mb-4">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex justify-content-between flex-sm-row flex-column gap-2">
                      <div class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                        <div class="card-title">
                          <span class="badge bg-label-warning rounded-pill">Recievable : 2021 </span> <br>
                          <span class="badge bg-label-info rounded-pill">Payable : 2300 kg </span><br>
                          <span class="badge bg-label-danger rounded-pill">Credit : 1000 kg </span><br>
                          <span class="badge bg-label-success rounded-pill">Debit : 100000S </span> <br>

                        </div>
                     
                      </div>
                    </div>
                  </div>
                </div>
              </div>  
          
            </div>
            <div class="row justify-content-between"> 
              <div class="col-6" id="heading"><h3>midlaj</h3> </div>
              <div class="col-3"> <h3 style="color: black;font-weight: bold;">Balance RS : 300000</h3></button>

</div>
             
            </div>
            <!-- Basic Bootstrap Table -->
            <div class="card">
              <div class="card-body">
                <a class="btn btn-primary text-white" href="#" onclick="showpurchasebill()" id="purchasebill">Purchase Bills</a>
                <a class="btn btn-primary text-white" href="#" onclick="showslesbill()" id="salesbill">Sales Bills</a>
                <a class="btn btn-primary text-white" href="#" onclick="showarrival()" id="arrival">Arrival</a>
                <a class="btn btn-primary text-white" href="#" onclick="showdespatch()" id="despatch">Despatch</a>
                <a class="btn btn-primary text-white" href="#" onclick="showstorein()" id="storein">Store-In</a>
                <a class="btn btn-primary text-white" href="#" onclick="showstoreout()" id="storeout">Store-Out</a>
                <a class="btn btn-primary text-white" href="#"  onclick="showpcommitments()" id="purchasecommitment">Purchase Commitments</a>
                <a class="btn btn-primary text-white" href="#" onclick="showscommitments()" id="salescommitment">Sales Commitments</a>
                <a class="btn btn-primary text-white" onclick="showtransactions()" href="#" id="transaction">Transactions</a>
                <div id="purchasecommitmentdiv">
                  <!-- Content will be loaded here based on userType -->
                  <%- include("./components/purchasecommitment.ejs") -%>

                </div>
                <div id="salescommitmentsdiv" class="d-none">
                  <!-- Content will be loaded here based on userType -->
                  <%- include("./components/salescommitment.ejs") -%>

                </div>   
</div>
</div>
<!--/ Basic Bootstrap Table -->

</div>
<!-- / Content -->

<!-- Footer -->

<!-- / Footer -->

<div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->


<script src="../assets/vendor/libs/jquery/jquery.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"></script>



<script>
////tabs

    const purchasecommitmentdiv = $('#purchasecommitmentdiv');
    const salescommitmentsdiv = $('#salescommitmentsdiv');

    function showpcommitments() {
      salescommitmentsdiv.addClass('d-none')
      purchasecommitmentdiv.removeClass('d-none')
      hellos()

    }

    function showscommitments() {
      salescommitmentsdiv.removeClass('d-none')
      purchasecommitmentdiv.addClass('d-none')

    }




</script>

                                    
                                        <%- include('./include/end.ejs') -%>